.mobile-menu {
    display: none;
}

.hamburger{
    display: none;
        font-size: 24px;
    position: relative;
    top: -3px;
    cursor: pointer;
}
header .ul1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 27%;
    flex-direction: column;
    line-height: 34px;
}
.hamburger:focus,
.hamburger i:focus,
.mobile-menu a:focus {
  outline: none;
  border: none;
}

.hamburger,
.hamburger i {
  -webkit-tap-highlight-color: transparent; /* removes mobile highlight */
}

@media (max-width: 980px) {
.fle{
        display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 9%;
}
.mobile-menu {
  pointer-events: auto;
  
}


.mobile-menu li,
.mobile-menu a {
  -webkit-user-select: none;
  user-select: none;
}

    /* hide desktop links */
    .nav-links {
        display: none;
    }

    /* show hamburger */
    .hamburger {
        display: block;
        color: white;
    }

    /* mobile dropdown */
  .mobile-menu {
    position: absolute;
    top: 100px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    /* animation */
    opacity: 0;
    transform: translateY(-20px);  /* start slightly above */
    pointer-events: none;          /* ignore clicks when hidden */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.mobile-menu.show {
    opacity: 1;
    transform: translateY(0);  /* slide down */
    pointer-events: auto;
}

    .hamburger i {
  transition: transform 0.3s ease;
}

.hamburger .fa-close {
  transform: rotate(90deg);  /* optional fun effect */
}

    /* when state is true */
    .mobile-menu.show {
        display: flex;
    }

    .mobile-menu li {
        list-style: none;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}