.main2{
    /* border: 4px solid red; */
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45vh;
}
.main2 h1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.con-two{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main2 a{
    color: #E58411;
    text-decoration: none;
}
.main2 a:hover{
    text-decoration: underline;
}

.main2 .con-two{
    display: flex;
    justify-content: center;
    line-height: 27px;
}
.main2 .con-two h3{
    margin-bottom: 13px;
}