@import "tailwindcss";
/* width */
::-webkit-scrollbar {
  width: 8px;      /* slim scroll */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff8a00, #e52e71); /* gradient 🔥 */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffa733, #ff3d87);
}
